body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 1rem;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 2rem;
  height: 100%;
}

.logo-img {
  height: 80px;
  width: auto;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: left;
}

.nav-links a {
  color: #FF1616;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.nav-links a:hover {
  color: #004AAD;
}

.nav-button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  white-space: nowrap;
  margin-right: 2rem;
}

.nav-button:hover {
  background-color: #004AAD;
}

.home, .about {
  padding: 5rem 2rem;
  text-align: center;
}
